.main-header{
	& img {
		max-width: 50px;
	}
}

.slider-image{
	img{
		width: 100%;
	}
}

.main-slider{
	#margin-top: 86px;
	height: 80%;
	.slick-prev{
		color: #000000;
		font-size: 35px;
		z-index: 999999;
	}
	.slick-next{
		color: #000000;
		font-size: 35px;
		z-index: 999999;
		right: 75px;
	}
}

.announcements-section {
	margin-top: 50px;
	margin-bottom: 50px;
	.announcements-section-item {
		box-shadow: -8px 11px 45px -16px;
		border-radius: 10px;
		padding: 15px;
		img {
			width: 550px;
			@media screen and (max-width: 425px) {
				width: 400px;
			}
		}
	}
	.announcements-section-secondary{
		justify-content: center;
		align-items: center;
		display: grid;
		row-gap: 0px;
		column-gap: 0px;
		grid-template-columns: 50% 50%;
		grid-template-row: 50% 50%;
		.announcements-section-secondary-item{
			padding: 10px;
			box-shadow: -2px 1px 42px -16px;
			border-radius: 10px;
			margin-right: 13px;
			justify-content: center;
			align-items: center;
			display: grid;
			text-align: center;
		}
		img {
			width: 250px;
			@media screen and (max-width: 425px) {
			width: 185px;
		}
		}
	}
}

.see-more-btn{
	background-color: coral;
	width: 159px;
	height: 30px;
	justify-content: center;
	align-items: center;
	display: grid;
	color: #ffffff;
	text-decoration: none;
	border-radius: 4px;
}
.group{
	position: absolute;
	top: 600px;
}
.group-slider {
	img {
		width: 250px;
		height: 250px;
		border-radius: 125px;
		box-shadow: -2px 5px 9px -2px #000000;
	}

	:hover{
		transform: scale(1.1);
	}

	#ageli{
		border: solid 10px #FECC00;
	}
	#omada{
		border: solid 10px #008000;
	}
	#koinotita{
		border: solid 10px #f44336;
	}
	#diktuo{
		border: solid 10px #207fc2;
	}
	#eks{
		border: solid 10px #ee9977;
	}

	.slick-slide{
		height: unset;
	}

	.group-slider-img {
		justify-content: center;
		display: grid;
		height: 300px;
		align-items: center;
	}
}

.eod-patras {
	margin-top: 150px;
	.row {
		background-color: #2b3de2;
		display: flex;
		flex-direction: row;
		justify-content: space-around;
		flex-wrap: nowrap;
		align-items: center;
		color: #f9f9f9;
	}

	img {
		margin: 50px;
		width: 100%;
	}
}

.departments-slider{
	height: 340px;
	.slick-track{
		width: 5000px;
	}
	.slick-list{
		#height: fit-content;
	}
	.slick-prev{
		border-radius: 54px;
		display: inline-block;
		border-style: hidden;
		top: 55%;
		position: relative;
		right: 5%;
		z-index: 999;
		background-color: cornflowerblue;
	}
	.slick-next{
		border-radius: 54px;
		display: inline-block;
		border-style: hidden;
		bottom: 55%;
		position: relative;
		left: 100%;
		z-index: 999;
		background-color: cornflowerblue;
	}
	.department-section-item {
		margin-left: 30px;
		margin-right: 30px;
		box-shadow: -8px 11px 45px -16px;
		border-radius: 10px;
		padding: 15px;
		transition: transform 0.5s ease-in-out;
		border-style: solid;
		border-color: #00CC00;
		width: 310px!important;
		span{
			display: none;
		}
		img,h4{
			display: flex;
			flex-wrap: wrap;
			align-items: center;
			align-content: center;
			margin-left: 70px;
		}
	}
	.department-section-item:hover{
		img,h4{
			display: none;
		}
		transform: rotateY(180deg);
		span{
			transform: rotateY(180deg);
			display: block;
		}
	}
}

